<form [formRoot]="examForm.$form" (submit)="operate()" class="example-container">
    <div [hidden]="true">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" [formField]="examForm.$form.idExam"/>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>NAME</mat-label>
        <input matInput placeholder="Name" [formField]="examForm.$form.nameExam"/>
        @if (examForm.$form.nameExam().errors().some(error => error.kind === 'required') && examForm.$form.nameExam().touched()) {
            <small class="invalid">Is required</small>
        }
        @if (examForm.$form.nameExam().errors().some(error => error.kind === 'minLength') && examForm.$form.nameExam().touched()) {
            <small class="invalid">minLength is 3</small>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>DESCRIPTION</mat-label>
        <input matInput placeholder="Description" [formField]="examForm.$form.descriptionExam"/>
        @if (examForm.$form.descriptionExam().errors().some(error => error.kind === 'required') && examForm.$form.descriptionExam().touched()) {
            <small class="invalid">Is required</small>
        }
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="examForm.isInvalid()">
        <span>OK</span>
        <mat-icon>done</mat-icon>
    </button>

    <button mat-flat-button type="button" class="cancel-button" routerLink="/pages/exam">
        <span>Cancel</span>
        <mat-icon>cancel</mat-icon>
    </button>
</form>
