<div class="login-container">
    <mat-card class="login-card">
        @if ($loggingIn()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

        <mat-card-header>
            <mat-card-title>SIGBI Sistema de Gestión Bibliotecaria Inteligente</mat-card-title>
            <mat-card-subtitle>Ingrese sus credenciales</mat-card-subtitle>
        </mat-card-header>

        <form [formRoot]="loginForm.$form" (submit)="login()">
            <mat-card-content class="login-content">
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput autocomplete="username" [formField]="loginForm.$form.username"/>
                    @if (loginForm.$form.username().errors().some(error => error.kind === 'required') && loginForm.$form.username().touched()) {
                        <small class="invalid">El correo es obligatorio</small>
                    }
                    @if (loginForm.$form.username().errors().some(error => error.kind === 'email') && loginForm.$form.username().touched()) {
                        <small class="invalid">El correo no tiene un formato válido</small>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" autocomplete="current-password" [formField]="loginForm.$form.password"/>
                    @if (loginForm.$form.password().errors().some(error => error.kind === 'required') && loginForm.$form.password().touched()) {
                        <small class="invalid">La contraseña es obligatoria</small>
                    }
                    @if (loginForm.$form.password().errors().some(error => error.kind === 'minLength') && loginForm.$form.password().touched()) {
                        <small class="invalid">La contraseña debe tener al menos 3 caracteres</small>
                    }
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-flat-button type="submit" [disabled]="loginForm.isInvalid() || $loggingIn()">
                    <span>Entrar</span>
                    <mat-icon>login</mat-icon>
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
