.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

.button-container button {
    width: auto;
}

.invalid {
    color: red;
}

.photo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.photo-container button {
    width: auto;
}

.photo-preview {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

.photo-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.example-spacer {
    flex: 1 1 auto;
}

