<h2 mat-dialog-title>{{ $isEdit() ? 'Edit specialty' : 'New specialty' }}</h2>

<form [formRoot]="specialtyForm.$form" (submit)="operate()">
    <mat-dialog-content class="example-container">
        <div [hidden]="true">
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" [formField]="specialtyForm.$form.idSpecialty"/>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>NAME</mat-label>
            <input matInput placeholder="Name" [formField]="specialtyForm.$form.nameSpecialty"/>
            @if (specialtyForm.$form.nameSpecialty().errors().some(error => error.kind === 'required') && specialtyForm.$form.nameSpecialty().touched()) {
                <small class="invalid">Is required</small>
            }
            @if (specialtyForm.$form.nameSpecialty().errors().some(error => error.kind === 'minLength') && specialtyForm.$form.nameSpecialty().touched()) {
                <small class="invalid">minLength is 3</small>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>DESCRIPTION</mat-label>
            <input matInput placeholder="Description" [formField]="specialtyForm.$form.descriptionSpecialty"/>
            @if (specialtyForm.$form.descriptionSpecialty().errors().some(error => error.kind === 'required') && specialtyForm.$form.descriptionSpecialty().touched()) {
                <small class="invalid">Is required</small>
            }
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-flat-button type="submit" [disabled]="specialtyForm.isInvalid()">
            <span>OK</span>
            <mat-icon>done</mat-icon>
        </button>

        <button mat-flat-button type="button" class="cancel-button" (click)="cancel()">
            <span>Cancel</span>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-dialog-actions>
</form>
