<mat-dialog-content>
    <mat-toolbar>
        <span>Consult Detail</span>
    </mat-toolbar>

    <div class="detail-container">

        <h3>Patient: {{ consult?.patient?.firstName }} {{ consult?.patient?.lastName }}</h3>
        <h3>Medic: {{ consult?.medic?.primaryName }} {{ consult?.medic?.surname }}</h3>
        <h3>Date: {{ consult?.consultDate }}</h3>

        <h4>Diagnoses and Treatments</h4>
        <mat-list role="list">
            @for (det of consult?.details; track $index) {
                <mat-list-item role="listitem">{{ $index + 1 }}. {{ det.diagnosis }} - {{ det.treatment }}</mat-list-item>
            } @empty {
                <mat-list-item role="listitem">No details</mat-list-item>
            }
        </mat-list>

        <h4>Exams</h4>
        <mat-list role="list">
            @for (ex of $exams(); track $index) {
                <mat-list-item role="listitem">{{ $index + 1 }}. {{ ex.nameExam }} - {{ ex.descriptionExam }}</mat-list-item>
            } @empty {
                <mat-list-item role="listitem">No exams</mat-list-item>
            }
        </mat-list>

    </div>

    <div class="button-container">
        <button mat-flat-button type="button" class="cancel-button" (click)="close()">
            <span>Close</span>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>

</mat-dialog-content>
